.advantages_list-cont {
  flex: 0.7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}
.advantages_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto 2rem auto 0;
  justify-content: space-around;
}
.advantages {
  border-top: #c2a560 5px solid;
  border-bottom: #c2a560 5px solid;
  background: url("../assets/otherimages/right.JPG") no-repeat center/cover;
}
.advantages_list-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  font-family: "Dosis", sans-serif;
  align-items: center;
  padding: 5rem 0;
  width: 80%;
  font-size: 2.2rem;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

/* For devices with a width of 768px or less */
@media only screen and (max-width: 768px) {
  .advantages_list-cont {
    font-size: 1.8rem;
  }
}

/* For devices with a width of 576px or less */
@media only screen and (max-width: 576px) {
  .advantages_list-cont {
    font-size: 1.6rem;
  }
}
