.advantages_list-cont {
  flex: 0.7;
  height: 100%;

  display: flex;
  justify-content: end;
}
.advantages_list {
  display: flex;
  flex-direction: column;
  margin: auto 2rem auto 0;
  justify-content: space-around;
}
.advantages {
  border-top: #c2a560 5px solid;
  border-bottom: #c2a560 5px solid;
  background: url("../assets/otherimages/right.JPG") no-repeat center/cover;
}
.advantages_list-cont {
  display: flex;
  min-height: 50vh;
  align-items: center;

  width: 80%;
  font-size: 2.8rem;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

/* For devices with a width of 768px or less */
@media only screen and (max-width: 768px) {
  .advantages_list-cont {
    font-size: 1.8rem;
  }
}

/* For devices with a width of 576px or less */
@media only screen and (max-width: 576px) {
  .advantages_list-cont {
    font-size: 1.6rem;
  }
}
