.instruments_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  justify-items: center;
  align-content: center;
}

.instrument_cont {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.instrument_cont:nth-of-type(4) img {
  transform: rotate(-7deg);
}

.instrument_cont img {
  height: 15rem;
  width: 15rem;
}

.instruments_container {
  background: url("../assets/otherimages/right.JPG") no-repeat center/cover;
  min-height: 50rem;
  display: flex;
  align-items: center;
}

.instrument_about {
  margin-top: 2rem;
  font-family: "Dosis", sans-serif;
}

.instrument_about p {
  width: 25ch;
}

/* For devices with a width of 768px or less */
@media only screen and (max-width: 768px) {
  .instruments_list {
    grid-template-columns: repeat(2, 1fr);
  }
  .instruments_container {
    min-height: 100vh;
  }
}

/* For devices with a width of 576px or less */
@media only screen and (max-width: 576px) {
  .instruments_list {
    grid-template-columns: repeat(1, 1fr);
  }
  .instruments_container {
    min-height: 150vh;
  }
}
