.title_deco {
  display: flex;
  align-items: center;
}

.instruments_list {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
}
.instrument_cont {
  width: calc(100% / 5);
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  text-align: center;
  flex: 1;
  display: flex;
}
.instrument_cont img {
  height: 100%;
  width: 15rem;
}
.instruments_container {
  background: url("../assets/otherimages/right.JPG") no-repeat center/cover;
  height: 40vh;
}
.instrument_about {
  margin-top: 2rem;
}
