.intro {
  display: flex;
  height: 100vh;

  width: 90%;
  margin: 0 auto;
}

.intro_image {
  width: 50%;
  height: 80vh;
  align-self: center;
  position: relative;
}
.intro_image img {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 4.6rem;

  position: relative;
}
.intro_text-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.info_text {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-width: 3px;
  border-style: solid;

  border-right: none;
  border-image: linear-gradient(to right, #c2a560, #c2a560, rgb(51, 51, 51)) 1;
}

.intro_logo {
  flex: 0.7;
  display: flex;
  align-items: center;

  justify-content: center;
}
.intro_logo img {
  width: 50rem;
  height: 100%;
}
.intro_infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0rem;
}
.intro_titles {
  flex: 0.3;
  position: relative;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.intro p {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 3rem;
}
.intro_titles a {
  background: linear-gradient(to right, #b18d4d, #d1b970, #e5d588);
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}
.intro_social {
  height: 5rem;

  width: 70%;
  margin: 0 auto;
}
.intro_social a {
  width: 4rem;
  height: 3rem;
  display: inline-block;
}
.intro_social a svg {
  width: 100%;
  height: 100%;
}
