nav {
  display: flex;
  width: 90%;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
  color: #e7e8ea;
  height: 30rem;
}
.nav_links {
  display: flex;
  flex: calc(1 / 3);
  justify-content: space-around;
}

.banner {
  margin: 0 auto;
  text-align: center;

  border: 1px solid black;
  color: white;
  margin-top: 2rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to right,
      rgba(32, 32, 32, 0.589),
      rgba(8, 8, 8, 0.76),
      rgba(0, 0, 0, 0.884)
    ),
    url("../assets/images/Banner.jpg") center/cover no-repeat;
}
h1 {
  font-size: 6rem;

  background: linear-gradient(
    to right,
    #cbb26a,
    #be9e44,
    #d8c690,
    #be9e44,
    #cbb26a
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header p {
  text-align: center;
  font-size: 2rem;
}
main {
  width: 100%;
  margin: 0 auto;
}
section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 6rem;
}

.instrument_list {
  display: flex;
  width: 80%;

  justify-content: space-between;
}
.instrument_list li {
  width: 20rem;
}
.instrument_list li > div {
  height: 13rem;
}
.instrument_list img {
  width: 100%;
  height: 100%;
  object-fit: contain   ;
}
.instrument_list h4 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 0;
}
.instrument_list p {
  font-size: 1.5rem;
  width: 30ch;
  line-height: 2rem;
}
.about_section {
  display: flex;
  width: 100%;
  height: 80rem;
  margin-bottom: 5rem;
}
.about_list-main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  justify-content: space-around;
  font-size: 2.1rem;
}
.about_section ul h3 {
  text-align: center;
  font-size: 5rem;
  text-decoration: underline #cfa528;
}
.about_section ul li{
  font-size:1.7rem;
  line-height:2rem;
}
.instrument_list li > img:hover {
  transform: scale(1.2);
}
.about_images {
  flex: 50%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_images img {
  width: 80%;
  height: 80%;
  border-radius: 10px;
}
.contact_details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  flex: calc(2 / 3);
}
.logo_img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  object-position: center;
}
nav .probe_button {
  flex: calc(1 / 3);
}
.probe_button {
  background-color: #cfa528;
  color: white;
  padding: 1rem 3rem;
  outline: none;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  margin: 10rem auto;
}
.probe_button:hover {
  color: #cfa528;
  background: transparent;
  outline: 2px solid #cfa528;
  cursor: pointer;
}
.social {
  color: #e8db8c;
  font-size: 5rem;
  transition-duration: 0.7s;
}
.social:hover {
  transform: scale(1.5);
}
.inputs {
  padding: 1.5rem 1rem;
  font-size: 2rem;
  width: 80%;
  background: none;
  border: none;
  color: white;
  background-color: #222222;
  margin-bottom: 2rem;
  border-radius: 20px;
}
textarea {
  background: none;
  width: 80% !important;
  border: none;
  background-color: #222222;
  font-size: 2rem;
  color: rgb(136, 134, 134);
  padding: 1.5rem 1rem;
  resize: none;
  border-radius: 20px;
  height: 15rem;
}
.inputs:focus {
  outline: none;
}
textarea::placeholder {
  color: rgb(136, 134, 134);
  transform: translate(1rem, 1rem) !important;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
.inputs::placeholder {
  color: rgb(136, 134, 134);
  font-size: 2rem;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.information_details {
  display: flex;
  font-size: 2rem;
  align-items: center;
}
select {
  width: 80%;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  background-color: #222222;
  color: rgb(136, 134, 134);

  appearance: none; /* remove default arrow icon */
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 3rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

select:focus {
  outline: none;
}

/* style the options */
select option {
  background-color: #222222;
  color: white;
}

form input[type="submit"] {
  width: 20rem;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  border: none;
  color: white;
  margin-bottom: 2rem;
  border-radius: 20px;
  margin-top: 2rem;
  border-radius: 5px;
  background: #ad8848;
}

.contact {
  margin-bottom: 5rem;
  width: 100%;
}
.svg-holder {
  background-color: #222222;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact svg {
  color: white;

  font-size: 3rem;
}
.contact_intro h3 {
  margin-bottom: 1rem;
}
.contact_intro p {
  line-height: 2.5rem;
}
.whatsapp button {
  width: 20rem;
  background-color: #2db742;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  height: 5rem;
  color: white;
  font-size: 2rem;
  justify-content: center;
}
.who_radio {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.who_radio > div {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.tarif_list {
  padding-left: 5rem;
  margin-top: 2rem;
  font-size: 1.8rem;
}
.tarif_list li {
  margin-top: 0.8rem;
}
.list_check {
  color: gold;
  background-color: white;
  border-radius: 50%;
  margin-right: 1rem;
}
@media screen and (max-width: 900px) {
  .about_section {
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .about_section ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    font-size: 2.1rem;
  }
}

.animate__fadeIn {
  --animate-duration: 0.5s;
}
