.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60rem;
  border: #ccb36a 5px solid;
  transform: translate(-50%, -50%);
  height: 25rem;
  z-index: 9999;
  background-color: rgba(54, 54, 54, 0.644);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.welcome h3 {
  font-size: 2.5rem;
  margin-top: 3rem;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.location_option {
  color: white;
  font-size: 2rem;
  background: #ccb36a;
  width: 12rem;
  height: 4rem;
  margin-top: 1rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 6px;
}
.backdrop {
  position: fixed;
  background-color: rgba(54, 54, 54, 0.63);
  max-height: 100vh;
  width: 100%;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 680px) {
  .modal {
    max-width: 40rem;
  }
  h1 {
    font-size: 2.3rem;
    text-align: center;
    margin-top: 1rem;
  }
}
