.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  width: 37rem;
  height: 40rem;
  position: relative;
  background-color: rgb(241, 241, 241);
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.reviewer_info {
  width: 80%;
}
.stars {
  color: #cfa528;
}
h5 {
  font-size: 2rem;
}
.swiper-slide > * {
  margin-bottom: 0.5rem;
}
@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
  opacity: 1;
}
.slider-controller {
  width: 100%;

  width: 30%;
  margin: 0 auto;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.change {
  font-size: 2rem;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.change svg {
  font-size: 3rem;
  color: #c2a560;
}
